* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 120px;
}

nav .container{
    width: 85%;
    max-width: 1360px;
    align-self: center;
}
nav .lists {
    display: flex;
    list-style-type: none;
    margin: auto;
    gap: 32px;
    align-items: center;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
}
li:hover{
    background-color: rgb(81, 228, 179);
}
.gbtn {
    background-color: #469165;
    color: white;
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    font-weight: 600px;}
.btn {
    justify-content: space-between;
}

.banner-content .tbtn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600px;
    color: white;
    padding: 12px 16px;
}
.banner-content .wbtn{
    background-color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500px;
    color: white;
    padding: 12px 16px;
    margin-bottom: 16px;
}
 a{
    text-decoration: none;
    color: #469165;
 }

#banner {
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 53px;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
#banner .banner-content{
    text-align: center;
    margin-top: 154px;
    margin-bottom: 154px;
}
h1{
    color: white;
    font-size:72px;
    font-weight: bold;
    line-height: 84px;
}
h1 span{
    color:#30B868;
    font-size:72px;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}
.banner-content p{
    font-size: 18;
    color: white;
    margin-bottom: 16px;
    line-height: 24px;
}
.banner-content p span{
    display: block;
}
#notes {
    padding-top: 50px;
    color: #000; 
    text-align: center;      
}

h2 {
    display: block;
    font-size: 48px;
    margin-bottom: 20px;
}
#notes p{
    color: #627382;
    font-size: 16px;
    margin-bottom: 44px;
}
#notes .note-box{
    display: flex;
    gap: 24px;
    text-align: center;
    margin-left: 120px;
    margin-right: 120px;
}
#notes .note-box .note-card{
    text-align: center;
    margin-bottom: 16px;
    padding: 24px;
    box-shadow: 4px 4px 4px 4px #00000016;
    gap: 16px;
    border-radius: 8px;
    height: 300px;
    width: 330px;
    align-items: center;
}
.note-box .note-card h3{
    font-size: 24px;
    margin-bottom: 16px;
}
.note-box .note-card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}
.note-card img{
    max-width: 60px;
    max-height: 60px;
    margin-bottom: 16px;
    border-radius: 50%;
    padding: 14px;
    background-color: #F95555;
    margin-top: 70px;

}

